@font-face {
  font-family: "GT Super Light";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-named-instance: "GT Super Light";
  src: url(assets/fonts/GT-Super-Display-Light-Trial.otf) format("truetype");
}

@font-face {
  font-family: "Messina Sans Book";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Messina Sans Book";
  src: url(assets/fonts/MessinaSans-Book.ttf) format("truetype");
}

@font-face {
  font-family: "Messina Sans Light";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Messina Sans Light";
  src: url(assets/fonts/MessinaSans-Light.ttf) format("truetype");
}
